<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <script src="/js/index_script.js"></script>
    </head>
    <body>
        <h1>TLG Leave Tracker</h1>
        <form action="http://localhost:4444/leaves" method="POST"> 
            <label for="leaveStartDate">Leave Start Date</label>
            <input type="text" id="leaveStartDate" name="startDate">
            <label for="leaveEndDate">Leave End Date</label>
            <input type="text" id="leaveEndDate" name="endDate">
            <label for="noOfBusinessDays">Number of Business Days</label>
            <input type="text" id="noOfBusinessDays" name="numberOfBusinessDays">
            <label for="leaveType">Leave Type</label>
            <input type="text" id="leaveType" name="leaveType">
            <label for="approvedStatus">Approved Status</label>
            <input type="text" id="approvedStatus" name="approvedStatus">
            <label for="appliedInESA">Applied In ESA</label>
            <input type="text" id="appliedInESA" name="appliedInESA">
            <input type="submit" value="Save">
        </form>
    </body>
</html>