<!DOCTYPE html>
<html>
    <head>
        <title>SignUp Page</title>
        <script src="/js/index_script.js"></script>
    </head>
    <body>
        <h1>TLG Leave Tracker</h1>
        <form action="http://localhost:4444/signUp" method="POST">
            <label for="id">Id</label><br>
            <input type="text" id="id" name="id"><br>
            <label for="firstname">First Name</label><br>
            <input type="text" id="firstname" name="firstname"><br>
            <label for="lastName">Last Name</label><br>
            <input type="text" id="lastName" name="lastName"><br>
            <label for="supervisor">Supervisor</label><br>
            <input type="text" id="supervisor" name="supervisor"><br><br>
            <input type="submit" value="Save">
        </form>
    </body>
</html>