<html>

<head>
	<title>Signup</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js"
		integrity="sha256-/PJBs6QWvXijOFIX04kZpLb6ZtSQckdOIavLWKKOgXU=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
	<h1>TLG Leave Tracker</h1>
	<form action="http://localhost:4444/signUp" method="POST">
		<label for="id">Id</label><br />
		<input type="text" id="id" name="id" /><br />
		<label for="firstname">First Name</label><br />
		<input type="text" id="firstname" name="firstname" /><br />
		<label for="lastName">Last Name</label><br />
		<input type="text" id="lastName" name="lastName" /><br />
		<label for="supervisor">Supervisor</label><br />
		<input type="text" id="supervisor" name="supervisor" />
		<button id="lookup_supervisor">Lookup</button>
		<br />
		<br />
		<input type="submit" value="Save" />
	</form>
	{{!-- <div id="supervisor_results"></div> --}}

	<table id="myTable"></table>

	{{!-- <script id="supvisor_results_template" type="text/x-handlebars-template">
		{{firstname}}
	</script> --}}
	<script src="/js/signup.js"></script>

</body>

</html>