<header>
    <h3>TLG Leave Tracker</h3>
    <li>
        <a href="applyLeave">Apply Leave</a>
        <a href="help">Help</a>
        <a href="logout" id="logout">Logout</a>
    </li>
    <script src="/js/header.js"></script>
</header>