<header>
    <li>
        <a href="/login">Home</a> &nbsp
        <a href="/users/applyLeave">Apply Leave</a> &nbsp
        <a href="/help">Help</a> &nbsp
        <a href="/logout" id="logout">Logout</a> &nbsp
    </li>
    <h1>TLG Leave Tracker</h1>
    <script src="/js/header.js"></script>
</header>